<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sasho.homework3" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.sasho.homework3.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.sasho.homework3.AddNewBook"
            android:label="@string/title_activity_add_new_book" >
        </activity>
        <activity
            android:name="com.example.sasho.homework3.BookList"
            android:label="@string/title_activity_book_list" >
        </activity>
        <activity
            android:name="com.example.sasho.homework3.BookDetails"
            android:label="@string/title_activity_book_details" >
        </activity>
    </application>

</manifest>
